.App {
  text-align: center;
  font-family: "Verdana";
  background-color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.puzzle-container {
  display: flex;
  
}

#pictureContainer {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
}

#puzzle-hide {
  display: none;
}

.container {
  font-size: 12px;
}

canvas {
  position: absolute;
  display: flex;
}

.canvas-container {
  display: flex;
  justify-content: center;
}

label {
  margin-right: 3px;
}

.upDown {
  border-radius: 50%;
}

